/* right side for match*/
.right-side-s2M-item {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    /* margin-left: 24px; */
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
}

.right-side-s2M-item .flags {
    display: flex;
}

.paddingRight {
    padding-right: 10px;
}

.firstImage,
.secondImage {
    width: 100%;
}

.flags .text {
    font-size: 16px;
    font-weight: 700;
}

.right-side-s2M-item .title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
}

.right-side-s2M-item .info {
    font-size: 16px;
    font-weight: 300;
    padding-top: 5px;
}