/* font importing link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* basic tags and utilities */
body,
html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    margin: 20px 60px;
}

.half-width {
    width: 50%;
}

#view-all-button {
    display: none;
}

/* section 1 styles */
.section-1 {
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    border-radius: 30px;
}

.left-side {
    padding: 111px 40px 111px 106px;
}

.left-side h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.left-side p {
    font-size: 16px;
    font-weight: 400;
}

#button-for-live {
    font-size: 20px;
    font-weight: 400;
    background-color: #DD0000;
    padding: 16px 25px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.right-side img {
    width: 100%;
    margin-top: 50px;
}


/* style of Section 2 */
/* left side */
.section-2 {
    margin-top: 130px;
    display: flex;
}

.left-side-s2 {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 10px;
}

.left-side-s2 a:hover,
button:hover {
    cursor: pointer;
}

.left-side-s2 button {
    background-color: #FFFFFF;
    width: 80%;
    padding: 15px 25px;
    border: none;
    margin: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

/* right side */
.right-side-s2-items {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 24px;
}

.right-side-s2-item {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    /* margin-left: 24px; */
    display: flex;
    flex-direction: column;
}

.right-side-s2-item img {
    width: 100%;
}

.bottom-part {
    margin: 20px;

}

#s2-button {
    width: 100px;
    border: 1px solid #161616;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
}

.bottom-part p {
    font-size: 18px;
    font-weight: 600;
}

.bottom-part .clockNComment {
    color: #161616B2;
    font-size: 16px;
    font-weight: 400;
}

.bottom-part #clock {
    margin-right: 30px;
}

.fa-clock,
.fa-rocketchat {
    margin-right: 10px;
}


/* footer section */
footer {
    margin-top: 110px;
    background-color: #161616;
    text-align: center;
    width: 100%;
}

footer h2 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 130px;
}

footer hr {
    margin-top: 50px;
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer nav {
    padding-top: 50px;
    padding-bottom: 130px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    white-space: nowrap;
    flex-wrap: wrap;
}

.list-item {
    margin-right: 40px;
}

#social-icons li a {
    color: #B9B9B9;

}

.social-list-item {
    margin-right: 10px;
}

/* responsive code for tablets */
@media screen and (min-width: 576px) and (max-width:768px) {

    /* section 1 styles */
    .left-side p {
        font-size: 16px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    right-side {
        position: relative;
    }

    .right-side img {
        position: absolute;
        /* left: 0px; */
        bottom: 0px;
        width: 50%;
    }

    /* section 2 */
    .section-2 {
        display: flex;
        flex-direction: column;
    }

    /* left side  */
    .left-side-s2 {
        display: flex;
        background-color: white;
        flex-direction: row;
        border-radius: 10px;
        white-space: nowrap;
    }

    .left-side-s2 button {
        background-color: #FFFFFF;
        padding: 15px 35px;
        border: 1px solid;
        margin: 15px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    /* right side  */
    .right-side-s2-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        /* margin-left: 24px; */
    }

    /* view all button */
    #view-all-button {
        display: block;
        font-size: 18px;
        font-weight: 400;
        background-color: #DD0000;
        padding: 10px 20px;
        color: #FFFFFF;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
    }


    /* footer */
    footer nav ul {
        white-space: nowrap;
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* responsive code for mobiles */
@media screen and (max-width: 576px) {

    /* section 1 styles */
    .section-1 {
        /* background-color: yellow; */
        color: #FFFFFF;
        display: flex;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
    }

    .half-width {
        width: 90%;
    }

    .left-side {
        padding: 30px;
    }

    .left-side h1 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1em;
    }

    #button-for-live {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 15px;
        margin-top: 5px;
    }

    /* right side for section 1 */
    .right-side img {
        width: 80%;
        margin-top: 0;
    }

    /* section 2 */
    .section-2 {
        display: flex;
        flex-direction: column;
    }

    /* left side  */
    .left-side-s2 {
        display: flex;
        align-items: flex-start;
        background-color: white;
        flex-direction: column;
        border-radius: 10px;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
    }

    .left-side-s2 button {
        background-color: #FFFFFF;
        padding: 15px 35px;
        border: 1px solid;
        margin: 15px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    /* right side  */
    .right-side-s2-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    /* footer */
    footer nav ul {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
}